<md-content class="md-padding">
	<p>Forest Computers is a leading wholesale computer distributor in the region. To provide best in class service to our customers we operate a modern warehouse in Zaporozhye. Since its beginnings in the early 1990’s Forest Computers has continuously added products to serve an ever increasing number of computer retail businesses.</p>

	<p>Forest Computers serves wholesale customers in all regions of Ukraine. Our employees take great pride in being the best in the business. Forest Computers on-site inventory includes over 20,000 individual products from international manufacturers.</p>

	<p>Earn the trust of your customers as an expert in solutions and earn incentives recognizing your commitment and success. Becoming a Forest Computers partner establishes a strategic relationship with your company and us. We work hard to make sure you are exposed to our vast network of other partners and to opportunities worldwide.</p>
</md-content>
