<md-button
	ui-sref="layout.authentication.user_list"
	class="md-primary">
	<md-icon
		aria-label="arrow back"
		class="md-primary"
		md-svg-src="/static/components/material-design-icons/navigation/svg/production/ic_arrow_back_24px.svg">
	</md-icon>
</md-button>

<div>
	<span>Catalog</span>

	<md-icon
		aria-label="chevron right"
		class="md-primary"
		md-svg-src="/static/components/material-design-icons/navigation/svg/production/ic_chevron_right_24px.svg">
	</md-icon>

	<span>CPU</span>

	<md-icon
		aria-label="chevron right"
		class="md-primary"
		md-svg-src="/static/components/material-design-icons/navigation/svg/production/ic_chevron_right_24px.svg">
	</md-icon>

	<span>Intel i3-3550</span>
</div>
