.landing-follow p,
.landing-follow h2,
.landing-follow input,
.landing-follow button.md-primary {
	color: white !important;
}

.landing-follow {
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-image: url(http://placehold.it/1920x300);
}

@media (max-width: 1200px) {
	.landing-follow {
		background-image: url(http://placehold.it/1200x350);
	}
}

@media (max-width: 960px) {
	.landing-follow {
		background-image: url(http://placehold.it/960x400);
	}
}

@media (max-width: 600px) {
	.landing-follow {
		background-image: url(http://placehold.it/600x600);
	}
}
